table.table {
  vertical-align: middle!important;
}

table.table thead tr th {
  color: #a1a5b7!important;
  font-size: 0.75rem;
  font-weight: 500;
}

table.table tbody tr td {
  color: #303030!important;
  font-size: 0.75rem;
  font-weight: 500;
}
