<div id="search-component">
  <input class="form-control" #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search..." autocomplete="off"/>

  <table class="table table-striped mt-2">
    <thead>
      <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Description</th>
        <th>URL</th>
        <th>Watch</th>
        <th>Stars</th>
        <th>Forks</th>
        <th>Open Issues</th>
        <th>Updated Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let repo of repositories">
        <td>{{ repo.full_name }}</td>
        <td><img src="{{ repo.owner.avatar_url }}" width="50" class="img-thumbnail" alt="{{ repo.owner.login }}"><br />{{ repo.owner.login }}</td>
        <td>{{ repo.description }}</td>
        <td><a href="{{ repo.html_url }}">{{ repo.html_url }}</a></td>
        <td>{{ repo.watchers_count }}</td>
        <td>{{ repo.stargazers_count }}</td>
        <td>{{ repo.forks_count }}</td>
        <td>{{ repo.open_issues_count }}</td>
        <td>{{ repo.updated_at }}</td>
        <td>
          <button class="btn btn-sm btn-outline-primary" (click)="open(repo)">Detail</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
